/* publish */
.wrapper-980 {
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}

/* header */
.header {
	height: 90px;
}

.header .header-logo {
	line-height: 76px;
}

/* 登陆表单 */
.login-bg {
	background: url(/images/admin_login_bg.png) top center no-repeat;
	width: 1366px;
	height: 570px;
	margin: 0 auto;
}
.login-bg .login-box {
	float: right;
	margin-right: 242px;
	margin-top: 35px;
	width: 315px;
}
.login-box .user-logo {
	width: 315px;
	height: 50px;
}
.login-box .login-form {
	margin-top: 88px;
	margin-left: 10px;
}
.login-box .login-form li {
	margin-bottom: 28px;
	position: relative;
}
.login-box .login-form li p {
	position: absolute;
	left: 0;
  	top: 42px;
  	color: red;
}
.login-box .login-form li p i {
	vertical-align: top;
	margin-right: 3px;
}
.login-box .login-form input {
	height: 40px;
	width: 287px;
	border: 0;
	font-size: 14px;
	padding-left: 10px;
}
.login-box .login-form .w-140 {
	width: 140px;
}
.login-box .login-form .w-140 {
	width: 140px;
}
.login-box .login-form .ver-code {
	margin-left: 15px;
	width: 135px;
	height: 40px;
	display: inline-block;
}
.login-box .login-form .login-btn {
	width: 300px;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background-color: #666666;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	margin-top: 30px;
}
.login-box .forget-href {
	color: #518cee;
	text-decoration: underline;
	float: right;
	margin-top: -20px;
	padding-right: 5px;
}

/* 尾部 */
.footer {
	margin-top: 60px;
	padding-bottom: 20px;
}
.footer ul {
	width: 380px;
	margin: 0 auto;
}
.footer ul li {
	float: left;
	margin: 0 3px;
}
.footer ul li, .footer ul li a {
	color: #333333;

}

